__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/
/custom_nodes/**/.git*
/custom_nodes/**/__pycache__/
/custom_nodes/**/.vscode/
/custom_nodes/**/.idea/
/custom_nodes/ComfyUI-Impact-Pack/*.ini
/custom_nodes/ComfyUI-Impact-Pack/wildcards/**
/custom_nodes/ComfyUI-Impact-Pack/subpack
/custom_nodes/ComfyUI-Impact-Pack/impact_subpack
/custom_nodes/ComfyUI-Impact-Pack/*.txt
/custom_nodes/ComfyUI-Impact-Pack/*.yaml
extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store
log_*
