__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/
/custom_nodes/**/.git*
/custom_nodes/**/__pycache__/
/custom_nodes/**/.vscode/
/custom_nodes/**/.idea/
/custom_nodes/**/*pyc
/custom_nodes/ComfyUI-Impact-Pack/*.ini
/custom_nodes/ComfyUI-Impact-Pack/wildcards/**
/custom_nodes/ComfyUI-Impact-Pack/subpack
/custom_nodes/ComfyUI-Impact-Pack/impact_subpack
/custom_nodes/ComfyUI-Impact-Pack/*.txt
/custom_nodes/ComfyUI-Impact-Pack/*.yaml
/custom_nodes/ComfyUI-Manager/tmp
/custom_nodes/ComfyUI-Manager/cache
/custom_nodes/ComfyUI-Manager/config.ini
/custom_nodes/ComfyUI-Manager/snapshots/**
/custom_nodes/ComfyUI-Manager/startup-scripts/**
/custom_nodes/ComfyUI-Manager/.openart_key
/custom_nodes/ComfyUI-Manager/.youml
/custom_nodes/ComfyUI-Manager/matrix_auth
/custom_nodes/ComfyUI-Manager/channels.list
/custom_nodes/ComfyUI-Manager/comfyworkflows_sharekey
/custom_nodes/ComfyUI-Manager/*.json
/custom_nodes/ComfyUI-Manager/check2.sh
/custom_nodes/ComfyUI-Manager/misc
/custom_nodes/ComfyUI-WD14-Tagger/models
/custom_nodes/ComfyUI-segment-anything-2/.DS_Store
/custom_nodes/ComfyUI-segment-anything-2/*.egg-info
/custom_nodes/ComfyUI-segment-anything-2/*.bak
/custom_nodes/ComfyUI-segment-anything-2/checkpoints
/custom_nodes/ComfyUI-segment-anything-2/results
/custom_nodes/ComfyUI-segment-anything-2/backup
/custom_nodes/ComfyUI_Custom_Nodes_AlekPet/web_alekpet_nodes
/custom_nodes/ComfyUI_Custom_Nodes_AlekPet/settings_nodes/
/custom_nodes/ComfyUI_essentials/luts/*.cube
/custom_nodes/ComfyUI_essentials/luts/*.CUBE
/custom_nodes/ComfyUI_essentials/fonts/*.ttf
/custom_nodes/ComfyUI_essentials/fonts/*.otf
!/custom_nodes/ComfyUI_essentials/fonts/ShareTechMono-Regular.ttf
/custom_nodes/comfyui_controlnet_aux/__pycache__/
/custom_nodes/comfyui_controlnet_aux/*.py[cod]
/custom_nodes/comfyui_controlnet_aux/*$py.class
/custom_nodes/comfyui_controlnet_aux/*.so
/custom_nodes/comfyui_controlnet_aux/tests/fixtures/cached_*_text.txt
/custom_nodes/comfyui_controlnet_aux/logs/
/custom_nodes/comfyui_controlnet_aux/lightning_logs/
/custom_nodes/comfyui_controlnet_aux/lang_code_data/
/custom_nodes/comfyui_controlnet_aux/tests/outputs
/custom_nodes/comfyui_controlnet_aux/.Python
/custom_nodes/comfyui_controlnet_aux/build/
/custom_nodes/comfyui_controlnet_aux/develop-eggs/
/custom_nodes/comfyui_controlnet_aux/dist/
/custom_nodes/comfyui_controlnet_aux/downloads/
/custom_nodes/comfyui_controlnet_aux/eggs/
/custom_nodes/comfyui_controlnet_aux/.eggs/
/custom_nodes/comfyui_controlnet_aux/lib/
/custom_nodes/comfyui_controlnet_aux/lib64/
/custom_nodes/comfyui_controlnet_aux/parts/
/custom_nodes/comfyui_controlnet_aux/sdist/
/custom_nodes/comfyui_controlnet_aux/var/
/custom_nodes/comfyui_controlnet_aux/wheels/
/custom_nodes/comfyui_controlnet_aux/*.egg-info/
/custom_nodes/comfyui_controlnet_aux/.installed.cfg
/custom_nodes/comfyui_controlnet_aux/*.egg
/custom_nodes/comfyui_controlnet_aux/MANIFEST
/custom_nodes/comfyui_controlnet_aux/*.manifest
/custom_nodes/comfyui_controlnet_aux/*.spec
/custom_nodes/comfyui_controlnet_aux/pip-log.txt
/custom_nodes/comfyui_controlnet_aux/pip-delete-this-directory.txt
/custom_nodes/comfyui_controlnet_aux/htmlcov/
/custom_nodes/comfyui_controlnet_aux/.tox/
/custom_nodes/comfyui_controlnet_aux/.nox/
/custom_nodes/comfyui_controlnet_aux/.coverage
/custom_nodes/comfyui_controlnet_aux/.coverage.*
/custom_nodes/comfyui_controlnet_aux/.cache
/custom_nodes/comfyui_controlnet_aux/nosetests.xml
/custom_nodes/comfyui_controlnet_aux/coverage.xml
/custom_nodes/comfyui_controlnet_aux/*.cover
/custom_nodes/comfyui_controlnet_aux/.hypothesis/
/custom_nodes/comfyui_controlnet_aux/.pytest_cache/
/custom_nodes/comfyui_controlnet_aux/*.mo
/custom_nodes/comfyui_controlnet_aux/*.pot
/custom_nodes/comfyui_controlnet_aux/*.log
/custom_nodes/comfyui_controlnet_aux/local_settings.py
/custom_nodes/comfyui_controlnet_aux/db.sqlite3
/custom_nodes/comfyui_controlnet_aux/instance/
/custom_nodes/comfyui_controlnet_aux/.webassets-cache
/custom_nodes/comfyui_controlnet_aux/.scrapy
/custom_nodes/comfyui_controlnet_aux/docs/_build/
/custom_nodes/comfyui_controlnet_aux/target/
/custom_nodes/comfyui_controlnet_aux/.ipynb_checkpoints
/custom_nodes/comfyui_controlnet_aux/profile_default/
/custom_nodes/comfyui_controlnet_aux/ipython_config.py
/custom_nodes/comfyui_controlnet_aux/.python-version
/custom_nodes/comfyui_controlnet_aux/celerybeat-schedule
/custom_nodes/comfyui_controlnet_aux/*.sage.py
/custom_nodes/comfyui_controlnet_aux/.env
/custom_nodes/comfyui_controlnet_aux/.venv
/custom_nodes/comfyui_controlnet_aux/env/
/custom_nodes/comfyui_controlnet_aux/venv/
/custom_nodes/comfyui_controlnet_aux/ENV/
/custom_nodes/comfyui_controlnet_aux/env.bak/
/custom_nodes/comfyui_controlnet_aux/venv.bak/
/custom_nodes/comfyui_controlnet_aux/.spyderproject
/custom_nodes/comfyui_controlnet_aux/.spyproject
/custom_nodes/comfyui_controlnet_aux/.ropeproject
/custom_nodes/comfyui_controlnet_aux/site
/custom_nodes/comfyui_controlnet_aux/.mypy_cache/
/custom_nodes/comfyui_controlnet_aux/.dmypy.json
/custom_nodes/comfyui_controlnet_aux/dmypy.json
/custom_nodes/comfyui_controlnet_aux/.pyre/
/custom_nodes/comfyui_controlnet_aux/.vs
/custom_nodes/comfyui_controlnet_aux/.vscode
/custom_nodes/comfyui_controlnet_aux/.idea
/custom_nodes/comfyui_controlnet_aux/tensorflow_code
/custom_nodes/comfyui_controlnet_aux/proc_data
/custom_nodes/comfyui_controlnet_aux/runs
/custom_nodes/comfyui_controlnet_aux/runs_old
/custom_nodes/comfyui_controlnet_aux/wandb
/custom_nodes/comfyui_controlnet_aux/examples
/custom_nodes/comfyui_controlnet_aux/examples/runs
/custom_nodes/comfyui_controlnet_aux/examples/**/*.args
/custom_nodes/comfyui_controlnet_aux/examples/rag/sweep
/custom_nodes/comfyui_controlnet_aux/data
/custom_nodes/comfyui_controlnet_aux/serialization_dir
/custom_nodes/comfyui_controlnet_aux/*.*~
/custom_nodes/comfyui_controlnet_aux/debug.env
/custom_nodes/comfyui_controlnet_aux/.*.swp
/custom_nodes/comfyui_controlnet_aux/tags
/custom_nodes/comfyui_controlnet_aux/.pre-commit*
/custom_nodes/comfyui_controlnet_aux/*.lock
/custom_nodes/comfyui_controlnet_aux/.DS_Store
/custom_nodes/comfyui_controlnet_aux/*.mp4
/custom_nodes/comfyui_controlnet_aux/transformers
/custom_nodes/comfyui_controlnet_aux/.ruff_cache
/custom_nodes/comfyui_controlnet_aux/wandb
/custom_nodes/comfyui_controlnet_aux/ckpts/
/custom_nodes/comfyui_controlnet_aux/test.ipynb
/custom_nodes/comfyui_controlnet_aux/config.yaml
/custom_nodes/comfyui_controlnet_aux/test.ipynb
/custom_nodes/comfyui_segment_anything/__pycache__/
/custom_nodes/comfyui_segment_anything/*.py[cod]
/custom_nodes/comfyui_segment_anything/*$py.class

/custom_nodes/comfyui_segment_anything/*.so

/custom_nodes/comfyui_segment_anything/.Python
/custom_nodes/comfyui_segment_anything/build/
/custom_nodes/comfyui_segment_anything/develop-eggs/
/custom_nodes/comfyui_segment_anything/dist/
/custom_nodes/comfyui_segment_anything/downloads/
/custom_nodes/comfyui_segment_anything/eggs/
/custom_nodes/comfyui_segment_anything/.eggs/
/custom_nodes/comfyui_segment_anything/lib/
/custom_nodes/comfyui_segment_anything/lib64/
/custom_nodes/comfyui_segment_anything/parts/
/custom_nodes/comfyui_segment_anything/sdist/
/custom_nodes/comfyui_segment_anything/var/
/custom_nodes/comfyui_segment_anything/wheels/
/custom_nodes/comfyui_segment_anything/share/python-wheels/
/custom_nodes/comfyui_segment_anything/*.egg-info/
/custom_nodes/comfyui_segment_anything/.installed.cfg
/custom_nodes/comfyui_segment_anything/*.egg
/custom_nodes/comfyui_segment_anything/MANIFEST

/custom_nodes/comfyui_segment_anything/*.manifest
/custom_nodes/comfyui_segment_anything/*.spec

/custom_nodes/comfyui_segment_anything/pip-log.txt
/custom_nodes/comfyui_segment_anything/pip-delete-this-directory.txt

/custom_nodes/comfyui_segment_anything/htmlcov/
/custom_nodes/comfyui_segment_anything/.tox/
/custom_nodes/comfyui_segment_anything/.nox/
/custom_nodes/comfyui_segment_anything/.coverage
/custom_nodes/comfyui_segment_anything/.coverage.*
/custom_nodes/comfyui_segment_anything/.cache
/custom_nodes/comfyui_segment_anything/nosetests.xml
/custom_nodes/comfyui_segment_anything/coverage.xml
/custom_nodes/comfyui_segment_anything/*.cover
/custom_nodes/comfyui_segment_anything/*.py,cover
/custom_nodes/comfyui_segment_anything/.hypothesis/
/custom_nodes/comfyui_segment_anything/.pytest_cache/
/custom_nodes/comfyui_segment_anything/cover/

/custom_nodes/comfyui_segment_anything/*.mo
/custom_nodes/comfyui_segment_anything/*.pot

/custom_nodes/comfyui_segment_anything/*.log
/custom_nodes/comfyui_segment_anything/local_settings.py
/custom_nodes/comfyui_segment_anything/db.sqlite3
/custom_nodes/comfyui_segment_anything/db.sqlite3-journal

/custom_nodes/comfyui_segment_anything/instance/
/custom_nodes/comfyui_segment_anything/.webassets-cache

/custom_nodes/comfyui_segment_anything/.scrapy

/custom_nodes/comfyui_segment_anything/docs/_build/

/custom_nodes/comfyui_segment_anything/.pybuilder/
/custom_nodes/comfyui_segment_anything/target/

/custom_nodes/comfyui_segment_anything/.ipynb_checkpoints

/custom_nodes/comfyui_segment_anything/profile_default/
/custom_nodes/comfyui_segment_anything/ipython_config.py

/custom_nodes/comfyui_segment_anything/.python-version

/custom_nodes/comfyui_segment_anything/Pipfile.lock

/custom_nodes/comfyui_segment_anything/poetry.lock

/custom_nodes/comfyui_segment_anything/pdm.lock
/custom_nodes/comfyui_segment_anything/.pdm.toml

/custom_nodes/comfyui_segment_anything/__pypackages__/

/custom_nodes/comfyui_segment_anything/celerybeat-schedule
/custom_nodes/comfyui_segment_anything/celerybeat.pid

/custom_nodes/comfyui_segment_anything/*.sage.py

/custom_nodes/comfyui_segment_anything/.env
/custom_nodes/comfyui_segment_anything/.venv
/custom_nodes/comfyui_segment_anything/env/
/custom_nodes/comfyui_segment_anything/venv/
/custom_nodes/comfyui_segment_anything/ENV/
/custom_nodes/comfyui_segment_anything/env.bak/
/custom_nodes/comfyui_segment_anything/venv.bak/

/custom_nodes/comfyui_segment_anything/.spyderproject
/custom_nodes/comfyui_segment_anything/.spyproject

/custom_nodes/comfyui_segment_anything/.ropeproject

/custom_nodes/comfyui_segment_anything/site

/custom_nodes/comfyui_segment_anything/.mypy_cache/
/custom_nodes/comfyui_segment_anything/.dmypy.json
/custom_nodes/comfyui_segment_anything/dmypy.json

/custom_nodes/comfyui_segment_anything/.pyre/

/custom_nodes/comfyui_segment_anything/.pytype/

/custom_nodes/comfyui_segment_anything/cython_debug/

/custom_nodes/comfyui_segment_anything/.idea/
/custom_nodes/was-node-suite-comfyui/__pycache__/
/custom_nodes/was-node-suite-comfyui/*.py[cod]
/custom_nodes/was-node-suite-comfyui/*$py.class
/custom_nodes/was-node-suite-comfyui/*.code-workspace

/custom_nodes/was-node-suite-comfyui/*.so

/custom_nodes/was-node-suite-comfyui/.Python
/custom_nodes/was-node-suite-comfyui/build/
/custom_nodes/was-node-suite-comfyui/develop-eggs/
/custom_nodes/was-node-suite-comfyui/dist/
/custom_nodes/was-node-suite-comfyui/downloads/
/custom_nodes/was-node-suite-comfyui/eggs/
/custom_nodes/was-node-suite-comfyui/.eggs/
/custom_nodes/was-node-suite-comfyui/lib/
/custom_nodes/was-node-suite-comfyui/lib64/
/custom_nodes/was-node-suite-comfyui/parts/
/custom_nodes/was-node-suite-comfyui/sdist/
/custom_nodes/was-node-suite-comfyui/var/
/custom_nodes/was-node-suite-comfyui/wheels/
/custom_nodes/was-node-suite-comfyui/share/python-wheels/
/custom_nodes/was-node-suite-comfyui/*.egg-info/
/custom_nodes/was-node-suite-comfyui/.installed.cfg
/custom_nodes/was-node-suite-comfyui/*.egg
/custom_nodes/was-node-suite-comfyui/MANIFEST

/custom_nodes/was-node-suite-comfyui/*.manifest
/custom_nodes/was-node-suite-comfyui/*.spec

/custom_nodes/was-node-suite-comfyui/pip-log.txt
/custom_nodes/was-node-suite-comfyui/pip-delete-this-directory.txt

/custom_nodes/was-node-suite-comfyui/htmlcov/
/custom_nodes/was-node-suite-comfyui/.tox/
/custom_nodes/was-node-suite-comfyui/.nox/
/custom_nodes/was-node-suite-comfyui/.coverage
/custom_nodes/was-node-suite-comfyui/.coverage.*
/custom_nodes/was-node-suite-comfyui/.cache
/custom_nodes/was-node-suite-comfyui/nosetests.xml
/custom_nodes/was-node-suite-comfyui/coverage.xml
/custom_nodes/was-node-suite-comfyui/*.cover
/custom_nodes/was-node-suite-comfyui/*.py,cover
/custom_nodes/was-node-suite-comfyui/.hypothesis/
/custom_nodes/was-node-suite-comfyui/.pytest_cache/
/custom_nodes/was-node-suite-comfyui/cover/

/custom_nodes/was-node-suite-comfyui/*.mo
/custom_nodes/was-node-suite-comfyui/*.pot

/custom_nodes/was-node-suite-comfyui/*.log
/custom_nodes/was-node-suite-comfyui/local_settings.py
/custom_nodes/was-node-suite-comfyui/db.sqlite3
/custom_nodes/was-node-suite-comfyui/db.sqlite3-journal

/custom_nodes/was-node-suite-comfyui/instance/
/custom_nodes/was-node-suite-comfyui/.webassets-cache

/custom_nodes/was-node-suite-comfyui/.scrapy

/custom_nodes/was-node-suite-comfyui/docs/_build/

/custom_nodes/was-node-suite-comfyui/.pybuilder/
/custom_nodes/was-node-suite-comfyui/target/

/custom_nodes/was-node-suite-comfyui/.ipynb_checkpoints

/custom_nodes/was-node-suite-comfyui/profile_default/
/custom_nodes/was-node-suite-comfyui/ipython_config.py

/custom_nodes/was-node-suite-comfyui/.python-version

/custom_nodes/was-node-suite-comfyui/.pdm.toml

/custom_nodes/was-node-suite-comfyui/__pypackages__/

/custom_nodes/was-node-suite-comfyui/celerybeat-schedule
/custom_nodes/was-node-suite-comfyui/celerybeat.pid

/custom_nodes/was-node-suite-comfyui/*.sage.py

/custom_nodes/was-node-suite-comfyui/.env
/custom_nodes/was-node-suite-comfyui/.venv
/custom_nodes/was-node-suite-comfyui/env/
/custom_nodes/was-node-suite-comfyui/venv/
/custom_nodes/was-node-suite-comfyui/ENV/
/custom_nodes/was-node-suite-comfyui/env.bak/
/custom_nodes/was-node-suite-comfyui/venv.bak/

/custom_nodes/was-node-suite-comfyui/.spyderproject
/custom_nodes/was-node-suite-comfyui/.spyproject

/custom_nodes/was-node-suite-comfyui/.ropeproject

/custom_nodes/was-node-suite-comfyui/site

/custom_nodes/was-node-suite-comfyui/.mypy_cache/
/custom_nodes/was-node-suite-comfyui/.dmypy.json
/custom_nodes/was-node-suite-comfyui/dmypy.json

/custom_nodes/was-node-suite-comfyui/.pyre/

/custom_nodes/was-node-suite-comfyui/.pytype/

/custom_nodes/was-node-suite-comfyui/cython_debug/

/custom_nodes/was-node-suite-comfyui/.idea/
/custom_nodes/was-node-suite-comfyui/*.pyc

/custom_nodes/was-node-suite-comfyui/was_suite_settings.json
/custom_nodes/was-node-suite-comfyui/styles.json
/custom_nodes/was-node-suite-comfyui/was_suite_config.json
/custom_nodes/was-node-suite-comfyui/workflows/
/custom_nodes/was-node-suite-comfyui/was_history.json
/custom_nodes/was-node-suite-comfyui/nsp_pantry.json
/custom_nodes/was-node-suite-comfyui/cache/
/custom_nodes/was-node-suite-comfyui/*.latent
/custom_nodes/was-node-suite-comfyui/*.image
/custom_nodes/was-node-suite-comfyui/*.conditioning
extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store
log_*
